form {
  flex-direction: column;
  width: 100%;


  input, textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    border: 1px solid $black-10;
    border-radius: 0.4rem;
  }

  .req {
    color: red;
  }
}