header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;

  height: 8svh;

  background-color: $soft-white;
  border-bottom: 1px solid $black-10;

  z-index: 10;

  .logo {
    width: 20%;
    margin-left: 1.750rem;
  }

  nav {
    width: 80%;
    margin-right: 1.750rem;
  }
}

nav > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  column-gap: 1.750rem;
}

.menu__item:hover {
  text-decoration: underline;
}

#hamburger {
  display: none;
}

#btn {
  display: none;
}


@media only screen and (max-width: $desktop) {
  #btn {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    background: center / contain url("/media/menu-burger.svg") no-repeat;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }
  
  #hamburger:checked + #btn {
    background: center / contain url("/media/cross.svg") no-repeat;
  }

  header {
    position: relative;
    position: sticky;
  }

  #hamburger:checked ~ .menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    justify-content: flex-start;
    top: 0;
    right: 0;
    background-color: $soft-white;
    height: 100svh;
    border-left: 1px solid $black-10;
    padding-top: 5rem;
    padding-right: 5rem;
    z-index: 19;
  }

  .menu {
    display: none; 
  }
}