$poppins-font-path: '../fonts/poppins';

@font-face {
  font-family: 'Poppins';
  src: url(#{$poppins-font-path}/poppins-light-webfont.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url(#{$poppins-font-path}/poppins-regular-webfont.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(#{$poppins-font-path}/poppins-semibold-webfont.woff2) format('woff2');
  font-weight: 600;
}