h1, h2, h3, h4, h5, h6, p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 3.9rem;
  color: $light-blue;
  line-height: 3.5rem;
}

h2 {
  font-size: 2.9rem;
}

h3 {
  font-size: 1.875rem;
  font-weight: 600;
  color: $light-blue;
}

h4, label {
  font-size: 1.25rem;
  font-weight: 400;
}

.hero__text--size {
  font-size: 1.175rem;
}

p {
  font-family: 'Poppins';
  font-weight: 300;
}

li {
  margin-left: 2rem;
}

.menu__item {
  font-weight: 600;
  font-size: 1.375rem;
  list-style: none;
}

@media only screen and (min-width: $landscape-tablets) {
  h1 {
    font-size: 2.9rem;
  }
}